@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.singlepage {
  font-family: 'Poppins', sans-serif;
}

.active {
  background-color: #be123c1a;
  border-right: 6px solid #BE123C;
  color: #BE123C;
}
